body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

main {
  padding-top: 75px;
}

.navbar-custom {
  background-color: rgb(0, 248, 62);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navbar-custom .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navbar-custom .navbar-brand img.navbar-logo {
  height: 50px;
}
.navbar-custom .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: #fff;
}
.navbar-custom .navbar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  color: #fff;
}
.navbar-custom .nav-link {
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.navbar-custom .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}
.navbar-custom .navbar-toggler {
  border-color: #fff;
}

.productos-section {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productos-section .productos-title {
  background-color: rgb(0, 248, 62);
  text-align: center;
  padding: 15px 0;
  margin-bottom: 20px;
  width: 74%;
  max-width: 1090px;
}
.productos-section .productos-title h2 {
  margin: 0;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.productos-section .productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0 20px;
}
.productos-section .card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 450px;
}
.productos-section .card .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease, opacity 0.5s ease;
}
.productos-section .card:hover .card-img-top {
  transform: scale(1.1);
  opacity: 0.9;
}
.productos-section .card .card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.productos-section .card .card-body .card-title, .productos-section .card .card-body .brand-subtitle {
  text-align: center;
  margin-bottom: 5px;
}
.productos-section .card .card-body .product-details, .productos-section .card .card-body .product-prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 0.85rem;
}
.productos-section .card .card-body .btn {
  background-color: rgb(0, 248, 62);
  color: #fff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
}
.productos-section .card .card-body .btn:hover {
  background-color: #00c531;
}
.productos-section .card .card-body .btn i {
  margin-right: 5px;
}

.pt-5.pb-5 .marcas-title {
  background-color: rgb(0, 248, 62);
  text-align: center;
  padding: 15px 0;
  margin-bottom: 40px;
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
}
.pt-5.pb-5 .marcas-title h2 {
  margin: 0;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.pt-5.pb-5 .carousel .carousel-inner {
  transition: transform 2s ease-in-out;
}
.pt-5.pb-5 .carousel .carousel-inner .carousel-item {
  transition: opacity 2s ease-in-out;
  opacity: 0;
}
.pt-5.pb-5 .carousel .carousel-inner .carousel-item.active {
  opacity: 1;
}
.pt-5.pb-5 .card {
  border: none;
  margin: 0 auto;
  flex: 0 0 auto;
  width: 170px;
}
.pt-5.pb-5 .card img {
  width: 100%;
  height: 125px;
  transition: transform 2s, opacity 2s, box-shadow 0.3s ease;
  transform-style: preserve-3d;
}
.pt-5.pb-5 .card img:hover {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  opacity: 0.7;
}

.footer-section {
  background-color: rgb(0, 248, 62);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 15px;
}
.footer-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-section .container p {
  margin: 5px 0;
}
.footer-section .container .social-icons {
  font-size: 24px;
}
.footer-section .container .social-icons i {
  margin: 0 10px;
}

.btn-siguiente {
  display: inline-block;
  margin: 30px auto;
  background-color: rgb(0, 248, 62);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}
.btn-siguiente:hover {
  background-color: #00c531;
}

@media (max-width: 991px) {
  .navbar-custom .navbar-collapse {
    justify-content: center;
  }
  .productos-section .producto-horizontal img {
    height: auto;
  }
  .pt-5.pb-5 .col-md-4 {
    padding-top: 10px;
  }
  .product-content .col-lg-3 {
    flex: 0 0 100%;
  }
}
@media (max-width: 992px) {
  .card {
    width: 45%;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .productos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .card {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px;
  }
}
.novedades-section {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.novedades-section .novedades-title {
  background-color: rgb(0, 248, 62);
  text-align: center;
  padding: 15px 0;
  margin-bottom: 20px;
  width: 96%;
  max-width: 1090px;
}
.novedades-section .novedades-title h2 {
  margin: 0;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
.novedades-section .novedades-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 20px;
}
.novedades-section .novedad-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 600px;
}
.novedades-section .novedad-item img {
  width: 100%;
  height: 100%;
  border-radius: 1px;
}
.novedades-section .novedad-vertical {
  flex: 1 1 300px;
  max-width: 300px;
}
.novedades-section .novedad-horizontal {
  flex: 2 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px;
}
.novedades-section .novedad-horizontal img {
  height: 50%;
  max-height: 50%;
}

.filter-sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.filter-sidebar h4 {
  color: rgb(0, 248, 62);
  margin-bottom: 15px;
  text-align: center;
}
.filter-sidebar .form-check {
  margin-bottom: 10px;
}
.filter-sidebar .form-check .form-check-input {
  accent-color: rgb(0, 248, 62);
}
.filter-sidebar .form-check .form-check-label {
  margin-left: 5px;
  color: #333;
}
.filter-sidebar .form-check:hover .form-check-label {
  color: rgb(0, 248, 62);
}
.filter-sidebar .btn-filter {
  display: block;
  width: 100%;
  background-color: rgb(0, 248, 62);
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.filter-sidebar .btn-filter:hover {
  background-color: #00c531;
}

/*# sourceMappingURL=styles.css.map */
