html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #9499a8;
}

main {
  margin: 0;
  padding: 0;
  background-color: #9499a8;
}

.navbar-custom {
  background-color: #dc5f00;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.navbar-custom .navbar-brand img.navbar-logo {
  height: 80px;
  width: 80px;
}
.navbar-custom .navbar-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  color: #EEEEEE;
}
.navbar-custom .navbar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #EEEEEE;
}
.navbar-custom .nav-link {
  font-family: "Roboto", sans-serif;
  color: #EEEEEE;
}
.navbar-custom .nav-link:hover {
  color: rgba(0, 0, 0, 0.7);
}
.navbar-custom .navbar-toggler {
  border-color: #EEEEEE;
}

.cart-logo {
  width: 90px;
  height: 90px;
}

.user-logo {
  width: 90px;
  height: 90px;
}

#carouselExampleIndicators .carousel-inner .carousel-item img {
  margin-top: 105px;
  width: 100%;
  height: 100%;
}

.productos-section {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: hidden;
}
.productos-section .productos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.productos-section .card {
  flex: 1 1 300px;
  max-width: 300px;
  min-width: 280px;
  min-height: 450px;
}
.productos-section .productos-title {
  background-color: #dc5f00;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 20px;
  width: 100%;
}
.productos-section .productos-title h2 {
  margin: 0;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #EEEEEE;
}
.productos-section .container {
  max-width: 100%;
  padding: 0 20px;
  overflow-x: hidden;
}
.productos-section .carousel-item .row {
  justify-content: center;
  min-height: 460px;
  transition: all 0.5s ease-in-out;
}
.productos-section .card {
  background-color: #EEEEEE;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 450px;
  border-radius: 5px;
  transform: scale(0.95);
  opacity: 0.9;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.productos-section .card .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
  transition: transform 0.5s ease, opacity 0.5s ease;
  padding: 5px;
  border-radius: 10px;
}
.productos-section .card:hover .card-img-top {
  transform: scale(1.1);
  opacity: 0.9;
}
.productos-section .card:hover {
  transform: scale(1);
  opacity: 1;
}
.productos-section .card .card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.productos-section .card .card-body .card-title, .productos-section .card .card-body .brand-subtitle {
  text-align: center;
  margin-bottom: 5px;
}
.productos-section .card .card-body .product-details, .productos-section .card .card-body .product-prices {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  font-size: 0.85rem;
}
.productos-section .card .card-body .btn {
  background-color: #dc5f00;
  color: #EEEEEE;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
}
.productos-section .card .card-body .btn:hover {
  background-color: #a94900;
}
.productos-section .card .card-body .btn i {
  margin-right: 5px;
}
.productos-section .carousel-control-prev,
.productos-section .carousel-control-next {
  display: none;
}
.productos-section .carousel-item.active {
  transform: scale(1);
  opacity: 1;
}
.productos-section .carousel-item-next, .productos-section .carousel-item-prev {
  transform: scale(0.95);
  opacity: 0.9;
}

.marcas-section {
  padding: 20px 0;
}
.marcas-section .marcas-title {
  background-color: #dc5f00;
  text-align: center;
  padding: 15px 0;
  margin: 0 auto;
}
.marcas-section .marcas-title h2 {
  margin: 0;
  font-weight: bold;
  color: #ffffff;
}
.marcas-section .scroll {
  margin-top: 20px;
  position: relative;
  display: flex;
  overflow: hidden;
  mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
  width: 100%;
}
.marcas-section .scroll div {
  display: flex;
  white-space: nowrap;
  animation: animate 30s linear infinite;
}
.marcas-section .scroll .logo {
  width: 150px;
  height: 100px;
  margin: 0 20px;
  transition: 0.5s;
  cursor: pointer;
  object-fit: contain;
}
.marcas-section .scroll .logo:not(:hover) {
  filter: grayscale(100%);
}
@keyframes animate {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.marcas-section .scroll:hover div {
  animation-play-state: paused;
}

.footer-section {
  background-color: #dc5f00;
  color: #EEEEEE;
  text-align: center;
  padding: 10px 0;
}
.footer-section .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer-section .container p {
  margin: 5px 0;
}
.footer-section .container .social-icons {
  font-size: 24px;
}
.footer-section .container .social-icons i {
  margin: 0 10px;
}

.btn-siguiente {
  display: inline-block;
  margin: 30px auto;
  background-color: #dc5f00;
  color: #EEEEEE;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}
.btn-siguiente:hover {
  background-color: #a94900;
}

@media (max-width: 991px) {
  .navbar-custom .navbar-collapse {
    justify-content: center;
  }
  .productos-section .producto-horizontal img {
    height: auto;
  }
  .pt-5.pb-5 .col-md-4 {
    padding-top: 10px;
  }
  .product-content .col-lg-3 {
    flex: 0 0 100%;
  }
}
@media (max-width: 992px) {
  .card {
    width: 45%;
    margin-bottom: 20px;
  }
}
@media (max-width: 768px) {
  .productos-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .card {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 20px;
  }
}
@media (max-width: 768px) {
  .novedad-vertical img {
    width: 300px;
    height: auto;
  }
  .novedad-horizontal img {
    width: 80%;
    height: auto;
  }
}
@media (max-width: 1280px) {
  .novedad-vertical img {
    width: 400px;
    height: auto;
  }
  .novedad-horizontal img {
    width: 400px;
    height: auto;
  }
}
@media (min-width: 1440px) {
  .novedad-item img {
    width: 100%;
    height: 455px;
  }
  .novedad-vertical {
    flex: 1 1 300px;
    max-width: 300px;
  }
  .novedad-horizontal {
    flex: 2 1 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    gap: 10px;
  }
}
@media (min-width: 1920px) {
  .novedad-item img {
    width: 100%;
    height: 455px;
  }
  .novedad-vertical {
    flex: 1 1 300px;
    max-width: 300px;
  }
  .novedad-horizontal {
    flex: 2 1 300px;
    max-width: 600px;
  }
  .novedad-horizontal img {
    height: 50%;
  }
}
.novedades-section {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
.novedades-section .novedades-title {
  background-color: #dc5f00;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 20px;
  width: 100%;
}
.novedades-section .novedades-title h2 {
  margin: 0;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #EEEEEE;
}
.novedades-section .novedades-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
  padding: 0 20px;
}
.novedades-section .novedad-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 600px;
}
.novedades-section .novedad-item img {
  border-radius: 2px;
}
.novedades-section .novedad-horizontal img {
  height: 50%;
  max-height: 50%;
}

.filter-sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.filter-sidebar h4 {
  color: #dc5f00;
  margin-bottom: 15px;
  text-align: center;
}
.filter-sidebar .form-check {
  margin-bottom: 10px;
}
.filter-sidebar .form-check .form-check-input {
  accent-color: #dc5f00;
}
.filter-sidebar .form-check .form-check-label {
  margin-left: 5px;
  color: #333;
}
.filter-sidebar .form-check:hover .form-check-label {
  color: #dc5f00;
}
.filter-sidebar .btn-filter {
  display: block;
  width: 100%;
  background-color: #dc5f00;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.filter-sidebar .btn-filter:hover {
  background-color: #a94900;
}

#contact-main {
  width: 100%;
  max-width: 100%;
}

.contact-form {
  margin-top: 20px;
  background-color: #EEEEEE;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
}
.contact-form h2 {
  color: #dc5f00;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
.contact-form label {
  color: #dc5f00;
  font-weight: bold;
  text-align: center;
}
.contact-form .form-control {
  border-radius: 4px;
  border: 1px solid #d5d5d5;
}
.contact-form .form-control:focus {
  border-color: #dc5f00;
  box-shadow: 0 0 5px #ffb176;
}
.contact-form .btn-enviar {
  background-color: #dc5f00;
  color: #EEEEEE;
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.contact-form .btn-enviar:hover {
  background-color: #a94900;
}

.about-us, .location {
  background-color: #EEEEEE;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.about-us h2, .location h2 {
  color: #dc5f00;
  text-align: center;
}
.about-us p, .location p {
  color: #dc5f00;
}
.about-us iframe, .location iframe {
  width: 100%;
  height: 450px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.about-us .text-image, .location .text-image {
  color: #dc5f00;
}

.carousel-index .carousel-control-prev,
.carousel-index .carousel-control-next {
  display: none;
}

/*# sourceMappingURL=styles.css.map */
