@import 'variables';
@import 'mixin';


body {
  margin: 0;
  padding: 0;
}

main {
  padding-top: 75px; // Ajusta este valor según la altura real de tu navbar
}

// Estilos para el navbar
.navbar-custom {
    background-color: rgba(0, 248, 62, 0.712);
    display: flex;
    justify-content: center;
    width: 100%;

    .container-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navbar-brand {
        img.navbar-logo {
            height: 50px;
        }
    }

    .navbar-nav {
        display: flex;
        align-items: center;
        justify-content: center; // Centra los enlaces de navegación en el navbar
        flex-grow: 1; // Permite que los enlaces usen el espacio disponible
    }

    .navbar-icons {
        display: flex;
        align-items: center;
        justify-content: center; // Asegura que los íconos también estén centrados si hay espacio
        font-size: 1.7rem;
        color: rgb(255, 255, 255)
        
    }

    .nav-link {
        font-family: 'Roboto', sans-serif;
        color: rgb(255, 255, 255);
        &:hover {
            color: rgb(0, 0, 0);
        }
    }

    .navbar-toggler {
        border-color: rgb(255, 255, 255);
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28200, 200, 200, 1%29' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }

    // Ajustes adicionales para cuando la barra de navegación se colapse
    @media (max-width: 991px) {
        .navbar-collapse {
            justify-content: center;
        }
    }
}

.productos-section {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center; // Centra el contenido horizontalmente

  .productos-title {
    background-color: rgba(0, 248, 62, 0.712); // Mismo color que la navbar
    text-align: center;
    padding: 10px 0;
    width: 1090px; // Ancho calculado basado en el ancho de las imágenes

    h2 {
      margin: 0;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      color: #fff; // Texto blanco
    }
  }

  .productos-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px; // Espacio entre imágenes
    margin-top: 20px;
    padding: 0 20px;
  }

  .producto-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 600px; // Altura máxima de los elementos, la misma que las imágenes verticales

    img {
      width: 100%;
      height: 100%;
      border-radius: 1px;
    }
  }

  .producto-vertical {
    flex: 1 1 300px; // La imagen vertical ocupa un ancho fijo de 300px
    max-width: 300px;
  }

  .producto-horizontal {
    flex: 2 1 300px; // Las imágenes horizontales ocupan el doble de espacio
    display: flex;
    flex-direction: column;
    justify-content: space-between; // Distribuye las imágenes horizontales de manera equitativa
    max-width: 600px;

    img {
      height: 50%; // Cada imagen horizontal ocupa la mitad de la altura de un contenedor vertical
      max-height: 50%;
    }
  }
}

.pt-5.pb-5 {
  .marcas-title {
    background-color: rgba(0, 248, 62, 0.712); // Mismo color que la navbar
    text-align: center;
    padding: 10px 0;
    margin-bottom: 20px; // Espacio inferior para separar del carrusel
    width: 100%;
    max-width: 1090px; // Ancho consistente con el bloque MARCAS
    margin: 0 auto; // Centra el bloque horizontalmente

    h2 {
      margin: 0;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      color: #fff; // Texto blanco
    }
  }

  .carousel {
    .carousel-inner {
      transition: transform 2s ease-in-out; // Hace la transición de cambio más suave y más lenta

      .carousel-item {
        transition: opacity 2s ease-in-out; // Suaviza y lentifica la transición de opacidad
        opacity: 0;
        &.active {
          opacity: 1;
        }
      }
    }
  }

  .row {
    margin-right: 0;
    margin-left: 0; // Elimina márgenes predeterminados para ajustar tarjetas
  }

  .col-md-4 {
    padding-top: 20px;
    padding-right: 5px; // Reducción de padding para ajustar el ancho total
    padding-left: 5px; // Mantiene un pequeño espacio entre tarjetas
  }

  .card {
    border: none;
    margin: 0 auto; // Centra la tarjeta en la columna
    flex: 0 0 auto; // Evita que las tarjetas crezcan o se encojan
    width: 170px; // Asegura que la tarjeta llene el ancho de la columna

    img {
      width: 100%; // Asegura que la imagen llene la tarjeta
      height: 125px; // Mantiene la proporción de la imagen
      transition: transform 2s, opacity 2s, box-shadow 0.3s ease; // Extiende la transición para suavizar rotación y añade efectos de opacidad
      transform-style: preserve-3d; // Necesario para la rotación 3D

      &:hover {
        -webkit-transform: rotateY(180deg); // Rota la imagen 180 grados en Y para navegadores Webkit
        transform: rotateY(180deg); // Rota la imagen 180 grados en Y para estándar CSS
        opacity: 0.7; // Reduce la opacidad al hacer hover para suavizar el cambio
      }
    }
  }
}

.productos-section {
  padding: 20px 0;
  background-color: #f8f9fa; // Fondo ligero para la sección

  .productos-title {
    background-color: rgba(0, 248, 62, 0.712);
    text-align: center;
    padding: 15px 0;
    margin-bottom: 20px;

    h2 {
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
      color: #fff;
    }
  }

  #carouselProductos {
    .carousel-inner {
      .carousel-item {
        .row {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
        }

        .col {
          padding: 5px;
          flex: 0 0 70%;
          max-width: 100%; // Ocupa el 100% en pantallas pequeñas

          @media (min-width: 576px) { // Pantallas pequeñas
            flex: 0 0 50%;
            
          }

          @media (min-width: 768px) { // Pantallas medianas
            flex: 0 0 35%;
            
          }

          @media (min-width: 992px) { // Pantallas grandes
            flex: 0 0 20%;
            
          }

          .card {
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .card-img-top {
              width: 100%;
              height: 200px;
              object-fit: cover;
            }

            .card-body {
              padding: 10px;

              .card-title, .brand-subtitle {
                text-align: center;
                margin-bottom: 5px;
              }

              .product-details, .product-prices {
                display: flex;
                justify-content: space-between;
                font-size: 0.85rem;
                margin-bottom: 10px;
              }

              .btn {
                background-color: rgba(0, 248, 62, 0.712);
                border: none;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                &:hover {
                  background-color: rgba(0, 248, 62, 0.9);
                }

                i {
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      width: 34px;
      height: 34px;
      background-color: rgba(0, 248, 62, 0.712);
      border-radius: 50%;
    }
  }
}

.footer-section {
  background-color: rgba(0, 248, 62, 0.712); // Verde del navbar
  color: #fff; // Texto blanco para mayor contraste
  text-align: center; // Centra todo el texto en el footer
  padding: 20px 0; // Espacio arriba y abajo del contenido del footer

  .container {
      display: flex;
      flex-direction: column; // Organiza los elementos en columna
      align-items: center; // Centra los elementos horizontalmente

      p {
          margin: 5px 0; // Pequeño margen entre los párrafos
      }

      .social-icons {
          font-size: 24px; // Tamaño grande para los iconos

          i {
              margin: 0 10px; // Espacio horizontal entre iconos
          }
      }
  }
}


.container-fluid {
  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .filter-sidebar {
    background-color: #f8f9fa;
    padding: 20px;

    .filter-container {
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

      h4 {
        color: #333;
        margin-bottom: 15px;
        text-align: center;
      }

      .form-check {
        margin-bottom: 10px;

        .form-check-label {
          margin-left: 5px;
        }
      }

      .btn-filter {
        display: block;
        width: 100%;
        background-color: rgba(0, 248, 62, 0.8);
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;

        &:hover {
          background-color: rgba(0, 248, 62, 0.9);
        }
      }
    }
  }
}

.product-content {
  padding: 20px;

  .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: start; // Alinea los elementos al inicio del contenedor
  }

  .col-lg-3, .col-md-4, .col-sm-6, .col-12 {
      margin-bottom: 20px;
  }

  .card {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 390px; // Altura fija para todas las cards

      .card-img-top {
          width: 100%;
          height: 150px; // Altura fija para las imágenes
       
      }

      .card-body {
          padding: 10px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          .card-title, .brand-subtitle {
              text-align: center;
              margin-bottom: 5px;
          }

          .product-details, .product-prices {
              display: flex;
              justify-content: space-between;
              margin-bottom: 10px;
          }

          .btn {
              background-color: rgba(0, 248, 62, 0.712);
              color: #fff;
              border: none;
              display: flex;
              align-items: center;
              justify-content: center;

              &:hover {
                  background-color: rgba(0, 248, 62, 0.9);
              }

              i {
                  margin-right: 5px; // Espacio entre el icono y el texto
              }
          }
      }
  }
}

.btn-siguiente {
  display: block; 
  margin: 30px auto; 
  background-color: rgba(0, 248, 62, 0.712); 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  font-size: 16px; 
  cursor: pointer; 
  width: 300px;

  &:hover {
    background-color: rgba(0, 248, 62, 0.9); 
  }
}


.contact-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 70px;
  h2 {
      color: #333;
  }

  label {
      color: #666;
  }

  input, textarea {
      border-radius: 4px;
      border: 1px solid #ccc;
  }

  button {
      background-color: rgba(0, 248, 62, 0.712);
      color: #fff;
      border: none;
      
      &:hover {
          background-color: rgba(0, 248, 62, 0.9);
      }
  }
}

.about-us {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 70px;

  h2 {
      color: #333;
      margin-bottom: 20px;
  }

  p {
      color: #666;
      line-height: 1.6; // Espacio entre líneas para mejorar la legibilidad
  }

  img {
      max-width: 100%;
      height: auto;
      margin-top: 20px;
  }

  caption {
      margin-top: 5px;
  }
}
