.filter-sidebar {
    background-color: #f8f9fa; // Fondo gris claro
    padding: 20px;
    border-radius: 8px; // Bordes redondeados
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Sombra para dar un efecto de profundidad

    h4 {
        color: $primary-color; // Título en color principal
        margin-bottom: 15px;
        text-align: center;
    }

    .form-check {
        margin-bottom: 10px;

        .form-check-input {
            accent-color: $primary-color; // Cambiar color del checkbox
        }

        .form-check-label {
            margin-left: 5px;
            color: #333; // Color del texto
        }

        &:hover .form-check-label {
            color: $primary-color; // Cambio de color al pasar el mouse
        }
    }

    .btn-filter {
        display: block;
        width: 100%;
        background-color: $primary-color;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 10px;
        text-align: center;
        font-size: 16px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: darken($primary-color, 10%); // Oscurecer al pasar el mouse
        }
    }
}
