.filter-sidebar {
    background-color: $cuaternary-color; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    

    h4 {
        color: $primary-color; 
        margin-bottom: $margin-small;
        text-align: center;
    }

    .form-check {
        margin-bottom: 10px;

        .form-check-input {
            accent-color: $primary-color;
        }

        .form-check-label {
            margin-left: 5px;
            color: #333; 
        }

        &:hover .form-check-label {
            color: $primary-color; 
        }
    }

    .btn-filter {
        display: block;
        width: 100%;
        background-color: $primary-color;
        color: $fiverth-color;
        border: none;
        padding: 10px;
        @include border-radius(5px);
        cursor: pointer;
        margin-top: 10px;
        text-align: center;
        font-size: 16px;
        @include transition(background-color 0.3s ease);

        &:hover {
            background-color: darken($primary-color, 10%); 
        }
    }
}
