.footer-section {
  background-color: $primary-color;
  color: $secondary-color;
  text-align: center;
  padding: $padding-base 0;

  .container {
    @include flex-center;
    flex-direction: column;

    p {
      margin: 5px 0;
    }

    .social-icons {
      font-size: 24px;

      i {
        margin: 0 10px;
      }
    }
  }
}
