.marcas-section {
  padding: 20px 0;

  .marcas-title {
    background-color: $primary-color;
    text-align: center;
    padding: 15px 0;
    
    margin: 0 auto;

    h2 {
      margin: 0;
      font-weight: bold;
      color: #ffffff;
    }
  }

  .scroll {
    margin-top: 20px;
    position: relative;
    display: flex;
    overflow: hidden;
    mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
    width: 100%;

    div {
      display: flex;
      white-space: nowrap;
      animation: animate 30s linear infinite;
    }

    .logo {
      width: 150px; 
      height: 100px; 
      margin: 0 20px;
      transition: .5s;
      cursor: pointer;
      object-fit: contain; 

      &:not(:hover) {
        filter: grayscale(100%);
      }
    }
  }

  @keyframes animate {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .scroll:hover div {
    animation-play-state: paused;
  }
}
