@media (max-width: 991px) {
  .navbar-custom .navbar-collapse {
    justify-content: center;
  }
  
  .productos-section .producto-horizontal img {
    height: auto;
  }

  .pt-5.pb-5 .col-md-4 {
    padding-top: $padding-base;
  }

  .product-content .col-lg-3 {
    flex: 0 0 100%;
  }
}

@media (max-width: 992px) {
  .card {
    width: 45%; 
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .productos-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
  }

  .card {
    width: 100%; 
    max-width: 300px;
    margin: 0 auto 20px; 
  }
}


@media (max-width: 768px) {
  .novedad-vertical {
    img {
      width: 300px; 
      height: auto; 
    }
  }
  .novedad-horizontal {
    img {
      width: 80%; 
      height: auto; 
    }
  }
}

@media (max-width: 1280px) {
  .novedad-vertical {
    img {
      width: 400px; 
      height: auto; 
    }
  }
  .novedad-horizontal {
    img {
      width: 400px; 
      height: auto; 
    }
  }
}

@media (min-width: 1440px) {
  .novedad-item {
    img {
      width: 100%;
      height: 455px; 
    }
  }

  .novedad-vertical {
    flex: 1 1 300px; 
    max-width: 300px;
  }

  .novedad-horizontal {
    flex: 2 1 300px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
    gap: 10px;
}
}



@media (min-width: 1920px) {
  .novedad-item {
    img {
      width: 100%;
      height: 455px; 
    }
  }

  .novedad-vertical {
    flex: 1 1 300px; 
    max-width: 300px;
  }

  .novedad-horizontal {
    flex: 2 1 300px; 
    max-width: 600px;
    img {
      height: 50%;
    }
  }
}

