.navbar-custom {
    background-color: $navbar-background;
    @include flex-center;
    width: 100%;

    .container-fluid {
        @include flex-center;
        width: 100%;
    }

    .navbar-brand {
        img.navbar-logo {
            height: 50px;
        }
    }

    .navbar-nav {
        @include flex-center;
        flex-grow: 1;
        color: $navbar-text-color;
    }

    .navbar-icons {
        @include flex-center;
        font-size: 1.7rem;
        color: $navbar-text-color;
    }

    .nav-link {
        font-family: $font-family-base;
        color: $navbar-text-color;
        &:hover {
            color: $hover-color;
        }
    }

    .navbar-toggler {
        border-color: $navbar-text-color;
    }
}

.cart-logo {
    width: 30px;
    margin-left: 5px;
}

.user-logo {
    width: 30px;
    color: $navbar-text-color;
    background-color: $navbar-background;
}