// Colores
$primary-color: #dc5f00ec;
$secondary-color: #EEEEEE;
$navbar-background: $primary-color;
$navbar-text-color: $secondary-color;
$hover-color: rgba(0, 0, 0, 0.7);

// Fuentes
$font-family-base: 'Roboto', sans-serif;
$font-weight-bold: bold;

// Espaciados
$padding-base: 10px;
$margin-base: 20px;

// Otros
$border-radius: 4px;
$box-shadow-base: 0 2px 5px rgba(0, 0, 0, 0.1);
